@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightPurple: #e5cff7;
  --darkPurple: #5b0888;
  --mediumPurple: #713abe;
}

.nav-link:hover {
  color: #176b87;
}

.link-seperator {
  background-color: #64ccc5;
  box-shadow: 2px 2px 4px rgba(113, 58, 190, 0.3);
  width: 1px;
}
.navbar-border {
  border-bottom: 1px solid #053b50;
  box-shadow: 2px 2px 6px #053b50;
}

.sidebar-bg {
  background-color: #27282a;
  width: 220px;
}

.sidebar-links {
  color: white;
  padding: 10px;
}

.sidebar-links:hover {
  color: #64ccc5;
}
.sidebar-btn-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.sidebar-highestP-box {
  background-color: white;
  height: 373px;
  width: 190px;
  margin-top: 70%;
  border-radius: 15px;
}

.sidebar-hr {
  padding-top: 5px;
  padding-bottom: 5px;
}

.non-scrollable {
  height: 100%;
  overflow: auto;
}
.home-graph1 {
  height: 300px;
  width: 300px;
}

.Graph-row1 {
  display: flex;
  flex-direction: row;
}

.home-graph1 {
  height: 450px;
  width: 600px;
  background-color: #27282a;
  /* margin: 30px; */
  border-radius: 15px;
  margin-top: 20px;
}

.air-graph1 {
  width: 800px;
  height: 350px;
  /* background-color: #27282a; */
  margin: 10px;
  box-shadow: 1px 1px 3px 3px #ccc;
  border-radius: 15px;
}
.air-graph1:hover {
  box-shadow: 3px 3px 5px 6px #ccc;
}

.air-graph-col1 {
  display: flex;
  flex-direction: row;
}

.graph-align {
  display: flex;
  flex-direction: column;
}

.air-graph2 {
  height: 350px;
  width: 400px;
  /* background-color: #053b50; */
  margin: 10px;
  box-shadow: 1px 1px 3px 3px #ccc;
  border-radius: 15px;
  /* margin-bottom: 60px; */
}
.air-graph2:hover {
  box-shadow: 3px 3px 5px 6px #ccc;
}

.air-graph-col2 {
  display: flex;
}

#graph1 {
  width: 950px;
  margin-top: 25px;
}

#graph3 {
  height: 385px;
}

#graph4 {
  width: 461px;
  height: 361px;
}
#graph2 {
  width: 310px;
  margin-top: 25px;
}
.sidebar-h {
  height: 535px;
}

.home-container {
  display: flex;
  flex-direction: row;
}

.home-graph {
  height: 300px;
  width: 300px;
  /* background-color: #27282a; */
  margin: 10px;
  box-shadow: 1px 1px 3px 3px #ccc;
  border-radius: 12px;
}
.home-graph:hover {
  box-shadow: 3px 3px 5px 6px #ccc;
}

.home-col1 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#home-graph1 {
  height: 374px;
  width: 300px;
}

#home-graph2 {
  height: 374px;
  width: 300px;
}

#home-graph3 {
  width: 869px;
  height: 500px;
}

#home-graph4 {
  width: 869px;
  height: 250px;
}

#home-graph5 {
  height: 250px;
  width: 290px;
  margin-bottom: 0;
}

#home-graph6 {
  height: 250px;
  width: 290px;
  margin-bottom: 0;
}

#home-graph7 {
  height: 250px;
  width: 290px;
  margin-bottom: 0;
}

.home-graph1-img {
  width: 869px;
  height: 500px;
  border: 1px solid #27282a;
  border-radius: 12px;
}

.home-graph2-img {
  height: 374px;
  width: 300px;
  border: 1px solid #27282a;
  border-radius: 12px;
}

.home-graph4-img {
  height: 250px;
  width: 290px;
  border: 1px solid #27282a;
  border-radius: 12px;
}
.home-graph5-img {
  height: 250px;
  width: 290px;
  border: 1px solid #27282a;
  border-radius: 12px;
}

.home-graph6-img {
  height: 250px;
  width: 290px;
  border: 1px solid #27282a;
  border-radius: 12px;
}

.home-graph7-img {
  height: 374px;
  width: 300px;
  border: 1px solid #27282a;
  border-radius: 12px;
}

.home-graph8-img1 {
  height: 374px;
  width: 300px;
  border: 1px solid #27282a;
  border-radius: 12px;
}
/* 
.navbar-padding {
  margin-bottom: 20px;
} */

.air-graph1-img {
  width: 950px;
  height: 350px;
  border: 1px solid #27282a;
  border-radius: 12px;
}

.air-graph2-img {
  width: 310px;
  height: 350px;
  border: 1px solid #27282a;
  border-radius: 12px;
}

.air-graph3-img {
  height: 385px;
  width: 800px;
  border: 1px solid #27282a;
  border-radius: 12px;
}
.air-graph4-img {
  width: 461px;
  height: 361px;
  border: 1px solid #27282a;
  border-radius: 12px;
}
.air-sidebargraph-img1 {
  height: 373px;
  width: 130px;
  position: inherit;
  margin-left: 30px;
}

.water-graph1-img {
  width: 950px;
  height: 350px;
  border: 1px solid #27282a;
  border-radius: 12px;
}
.home-graph10-img {
  width: 869px;
  height: 250px;
  border: 1px solid #27282a;
  border-radius: 12px;
}
